name: Production Deployment

on:
  release:
    types: [created]

jobs:
  Deploy-Preview:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - run: curl -X POST -d {} "https://webhooks.amplify.us-east-1.amazonaws.com/prod/webhooks?id=ea04170f-ab4c-443a-b01f-e2e53c32b641&token=KSqj5xnbmdNs92jcEzHWSP84O6dVe0r1Rq6FCuL5E&operation=startbuild" -H "Content-Type:application/json"

      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Build Library
        run: pnpm run build
